//
// Typography
//

@at-root html {
  @extend .type-base;

  body {
    color: var(--color-black);
    font-size: inherit;
    font-kerning: auto;
    font-family: var(--font-family-primary);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
