// Control root
// ---------

%control {
  @extend %box;

  @include hover-focus() {
    outline: none;
    box-shadow: none;
  }

  @include hover() {
    border-color: theme-color(primary);
  }
}

.form-control {
  @extend %control;
}
