// Control root
// ---------

%control {
  @extend %box;
  margin-bottom: 0;

  @include hover() {
    border-color: theme-color(primary);
  }
}

.custom-file-label,
.form-control {
  @extend %control;
}

.custom-file-label {

  &::after {
    height: initial;
  }
}
