// Label
// ---------

%label {
  @extend %body;
  text-align: center;
  display: block;
  color: gray("600");
}

.invalid-feedback,
.label,
.control-label {
  @extend %label;
}

span[id$="error"],
.invalid-feedback {
  @extend %small;
  margin-bottom: 0;
  color: theme-color("danger");
  order: 1;
}

.control-label {
  //margin-bottom: em(4, ms(-1));
}

span[id$="error"] {
  display: none !important;
}
