//
// Variables
//

// Modular scale
$modularscale: (
  base: 18px,
  ratio: $minor-third,
  map-get($grid-breakpoints, "md"): (
    base: 18px,
  ),
  map-get($grid-breakpoints, "xxl"): (
    base: 24px,
  ),
);

// Custom scale
$custom-scale: (
  "6xl": (
    scale: 7,
    line-height: 1,
  ),
  "5xl": (
    scale: 6,
    line-height: 1,
  ),
  "4xl": (
    scale: 5,
    font-weight: 700,
  ),
  "3xl": (
    scale: 4,
  ),
  "2xl": (
    scale: 3,
  ),
  xl: (
    scale: 2,
  ),
  lg: (
    scale: 1,
  ),
  base: (
    scale: 0,
    line-height: 1.5,
    font-weight: 400,
  ),
  sm: (
    scale: -1,
  ),
  xs: (
    scale: -2,
  ),
  xxs: (
    scale: -3,
  ),
);

// Paths
$asset-base-path: "..";

:root {
  // fontFamily
  --font-family-primary: Caponi Display;
  --font-family-secondary: SS Nickson Six;
  // fontSize
  @include set-text($custom-scale);
  // colors
  --color-black: #{$black};
  @include palette("primary", $primary);
  @include palette("secondary", $secondary);
  // components
  --border-width: #{em(1.5)};
}
