//
// Component Baseline
//

#c-baseline {
  background-image: linear-gradient(
    to bottom,
    $cyan 0,
    rgba(255, 255, 255, 0) 1px
  );
  background-repeat: repeat-y;
  background-size: 100% rem($vertical-rhythm);
}
