// Component Card
// ---------

$c-card: ".c-card";

#{$c-card} {
  &-wrap {
    @extend .embed-responsive;

    @include media-breakpoint-down(sm) {
      margin-bottom: $grid-gutter-width * 1.5;
    }

    @include media-breakpoint-up(lg) {
      width: rem(370);
    }

    &::before {
      padding-top: 115%;
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      z-index: 1;
      pointer-events: none;
    }

    @include m(vote) {
      //&::before {
      //  padding-top: 115%;
      //}

      &::after {
        @include image("card-dark-rounded-container");
      }

      #{$c-card} {
        mask-image: image("card-rounded-container.svg");
      }
    }

    @include m(next-challenges) {
      //&::before {
      //  padding-top: 115%;
      //}

      &::after {
        @include image("card-dark-bottom-rounded-container");
      }

      #{$c-card} {
        mask-image: image("card-bottom-rounded-container.svg");
      }
    }
  }

  & {
    @extend .embed-responsive-item;
    mask-size: 100% 100%;
  }

  .card-title {
    @extend %h4;
    margin-bottom: .2em;
  }

  .card-subtitle {
    @extend %p;
    font-family: $font-stack-secondary;
    margin-top: -0.75em;
    font-weight: 900;
  }

  .card-text {
    line-height: 1.1;
    margin-bottom: .25em;
  }


  .card-body {
    padding-bottom: 0;
  }

  .card-footer {
    display: flex;
    padding: 0;
    justify-content: flex-end;

    .btn__white {
      margin-right: -1em;
      pointer-events: none;
    }
  }

  .card-img {
    mask-image: image("card-img-mask.svg");
    mask-size: cover;
    mask-position: 100% 100%;
    object-fit: cover;
    transform: scaleX(0.99);

    &-wrap {
      &::before {
        padding-top: 64%;
      }
    }
  }

  .btn-share-img {
    width: rem(32);
  }
}
