// Component CARD
// ---------

.c-card {
  @include hover-element();
  box-shadow: $box-shadow;
  overflow: hidden;
  border: 0 none;

  iframe {
    border-radius: $border-radius * 2;
  }

  @include e(title) {
    @extend .h5;
    font-weight: 700;
    margin-bottom: em(2);

    @include media-breakpoint-up(lg) {
      //@include ms-respond(font-size, 2);
    }
  }

  @include e(description) {
    @extend .body;
    font-weight: 400;
    line-height: 1.4;

    @include media-breakpoint-up(lg) {
      //@include ms-respond(font-size, 1);
    }
  }
}
