// Component FOOTER
// ---------

.c-footer {
  border-top: $border-width solid theme-color("secondary");
  @include e(title) {
    @extend %tiny;
    display: flex;
    align-items: flex-end;
    line-height: em(12, ms(-2));
    min-height: em(24, ms(-2));
    margin-bottom: 0;
    font-family: $font-stack-primary;
    text-transform: uppercase;
  }

  @include e(logo) {
    object-fit: contain;
    max-height: 20vw;
    @include media-breakpoint-up(lg) {
      max-height: 15vw;
      max-width: 10vw;
    }
  }

  hr {
    margin: $grid-gutter-width 0;
    max-width: $grid-gutter-width * 7;
  }

  @include e(heading) {
    @include ms-respond(font-size, 8);
    margin-bottom: 0;
    font-family: $font-stack-secondary;
  }
}
