// Component Grid
// ---------
$c-grid: ".c-grid";
#{$c-grid} {
  // Wrap
  @include e(wrap) {
    position: fixed;
    top: 0;
    left: 0;
  }
  // Root
  & {
    --gridgap: 0;
    --gridwidth: 100vw;
    --gridheight: 100vh;
    display: grid;
    //width: var(--gridwidth);
    //height: var(--gridheight);
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(6, 1fr);

    @include m(layout) {
      #{$c-grid} {
        @include e(item-wrap) {
          &:nth-child(1) {
            grid-area: 1 / 1 / span 1 / span 1;
          }
          &:nth-child(2) {
            grid-area: 1 / 2 / span 1 / span 1;
          }
          &:nth-child(3) {
            grid-area: 1 / 3 / span 1 / span 2;
          }
          &:nth-child(4) {
            grid-area: 1 / 5 / span 1 / span 2;
          }
          &:nth-child(5) {
            grid-area: 2 / 1 / span 2 / span 1;
          }
          &:nth-child(6) {
            grid-area: 2 / 2 / span 1 / span 2;
          }
          &:nth-child(7) {
            grid-area: 3 / 2 / span 1 / span 1;
          }
          &:nth-child(8) {
            grid-area: 2 / 4 / span 1 / span 1;
          }
          &:nth-child(9) {
            grid-area: 2 / 5 / span 2 / span 1;
          }
          &:nth-child(10) {
            grid-area: 2 / 6 / span 2 / span 1;
          }
          &:nth-child(11) {
            grid-area: 4 / 1 / span 1 / span 2;
          }
          &:nth-child(12) {
            grid-area: 4 / 5 / span 1 / span 2;
          }
          &:nth-child(13) {
            grid-area: 5 / 1 / span 2 / span 1;
          }
          &:nth-child(14) {
            grid-area: 5 / 2 / span 2 / span 1;
          }
          &:nth-child(15) {
            grid-area: 5 / 3 / span 1 / span 2;
          }
          &:nth-child(16) {
            grid-area: 6 / 3 / span 1 / span 2;
          }
          &:nth-child(17) {
            grid-area: 5 / 5 / span 1 / span 2;
          }
          &:nth-child(18) {
            grid-area: 6 / 5 / span 1 / span 2;
          }
          &:nth-child(19) {
            grid-area: 3 / 3 / span 2 / span 2;
          }
        }
      }
    }
  }
  // Item wrapper
  @include e(item-wrap) {
    border: $border-width solid theme-color();
    will-change: transform;
    overflow: hidden;
  }
  // Item
  @include e(item) {
    width: 100%;
    height: 100%;
    will-change: transform;
    //background-size: cover;
    //background-repeat: no-repeat;
    //background-position: center center;
    //will-change: transform;

    img {
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
      width: 100%;
      height: 100%;
      will-change: transform;
    }
  }

  @include e(footer) {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1;
  }
}
