// Component Heading
// ---------

.c-heading {
  @extend %h4;
  text-transform: uppercase;
  color: theme-color();
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;

  i.material-icons {
    margin-right: 0.25em;
    font-size: 1.25em;
  }

  //display: grid;
  //@include template(title, subtitle, image);
  //grid-column-gap: $grid-gutter-width;
  //grid-template-columns: 2fr 1fr 1fr;
  //grid-template-areas:
  //  "image title title"
  //  "image subtitle subtitle";
}
