// Component Heading
// ---------

.c-heading {
  display: grid;
  @include template(title, subtitle, image);
  grid-column-gap: $grid-gutter-width;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-areas:
    "image title title"
    "image subtitle subtitle";
}
