// Component LOGIN
// ---------

#{$component-login} {
  padding: em(48) em(12);
  box-shadow: $box-shadow;

  @include media-breakpoint-up(lg) {
    padding-top: 4vw;
    padding-bottom: 4vw;
  }

  @include e(title) {

    @include media-breakpoint-up(lg) {
      font-size: 2.5vw;
    }
  }

  @include e(description) {
    margin-bottom: 2.5em;

    @include media-breakpoint-up(md) {
      margin-bottom: 4em;
      max-width: 78%;
      margin-right: auto;
      margin-left: auto;
    }
  }

  form {

    @include media-breakpoint-up(md) {
      max-width: 70%;
      margin-right: auto;
      margin-left: auto;
    }
  }
}
