// Component MODAL
// ---------

#{$component-modal} {
  text-align: center;

  .modal-body {

  }

  .modal-footer {
    justify-content: center;
    padding-top: 0;
  }

  .btn {
    margin-bottom: 0;
  }
}
