// Component navbar
// ---------

.c-navbar {
  $navbar-brand: em(48);
  position: relative;

  .dropdown-toggle {
    display: flex !important;
    align-items: center;

    &::after {
      @extend .material-icons;
      border: 0 none;
      content: "keyboard_arrow_down";
    }
  }

  .dropdown {
    &.show .dropdown-toggle::after {
      content: "keyboard_arrow_up";
    }
  }

  .navbar-brand {
    width: $navbar-brand;
    height: $navbar-brand;
    padding: 0;
    display: block;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .dropdown-menu {
    padding-right: $dropdown-padding-y;
    padding-left: $dropdown-padding-y;
  }

  .dropdown-item {
    font-family: $font-stack-secondary;
    text-align: right;

    &,
    &.active {
      background-color: transparent;
      color: theme-color();
    }

    &.active {
      border-bottom: $border-width solid theme-color("secondary");
    }
  }

  &::before {
    content: "";
    position: absolute;
    bottom: $border-width;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    border-bottom: $border-width solid $component-active-bg;
  }
  .nav-link {
    @extend %h6;
    margin-bottom: 0;
    display: block;
    padding: 0 ($grid-gutter-width / 2);
    text-transform: uppercase;
    font-family: $font-stack-secondary;
  }

  // Custom
  $img-size: em(48);
  @include e(img) {
    width: $img-size;
    height: $img-size;
    border-radius: 50%;
    object-fit: cover;
  }

  @include e(text) {
    @extend %p;
    margin-bottom: 0;
    font-family: $font-stack-secondary;
  }

  @include e(grid) {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-column-gap: $grid-gutter-width / 2;

    @include m(challenges) {
      padding-right: $grid-gutter-width / 1;
      border-right: $border-width solid theme-color("secondary");
      grid-template-rows: repeat(2, 1fr);

      img {
        grid-row: 1 / 3;
        grid-column: 1 / 2;
      }
    }

    @include m(profile) {
      padding-left: $grid-gutter-width / 2;
      display: grid;

      img {
        grid-column: 2 /3;
      }

      p {
        align-self: center;
      }
    }
  }
}
