// Component Prize
// ---------

.c-prize {
  $prize-size-img: em(200);
  text-align: center;

  .embed-responsive {
    width: 100%;
    margin-bottom: $grid-gutter-width / 2;
  }
  @include e(img) {
    width: 100%;
    object-fit: cover;
  }

  @include e(title) {
  }

  @include e(description) {
    display: flex;
    justify-content: space-between;
    font-family: $font-stack-primary;
  }

  @include e(val) {
    text-align: left;
    font-family: inherit;
  }

  @include e(separator) {
    height: 3em;
    background-color: gray("400");
    width: $border-width;
    display: block;
  }
}
