// Component RANKING
// ---------

#{$component-ranking} {
  box-shadow: $box-shadow;
  margin-bottom: 3em;

  @include e(title) {
    position: relative;
    font-size: 7.2vmin;
    font-family: $font-stack-secondary;
    text-transform: uppercase;
    text-align: left;
    color: theme-color("dark");
    margin-bottom: 0;

    &::before {
      @extend .material-icons;
      content: 'keyboard_arrow_down';
      left: 0;
      vertical-align: sub;
    }

    @include media-breakpoint-up(lg) {
      font-size: 3vw;
      @include ms-respond(font-size, 7);
    }
  }

  @include m(secondary) {
    background-color: theme-color("secondary");

    #{$component-table} {
      tbody {
        tr {
          th,
          td {
            background-color: $white;
          }
        }
      }

      tbody tr:not(:last-child) {
        border-bottom-color: theme-color("secondary");
      }
    }
  }
}
