// Component TABLE
// ---------

#{$component-table} {
  //tbody {
  //  display: block;
  //  overflow: auto;
  //  height: 100px;
  //  width: 100%;
  //}
  //thead tr {
  //  display: block;
  //}
  //
  //th,
  //td {
  //  text-align: left;
  //  width: 100%;
  //}

  thead {
    background-color: transparent;

    tr {
      th {
        font-weight: 400;

        &:last-child {
          text-align: right;
        }
      }
    }
  }

  tbody {
    tr {
      font-weight: 700;

      &:not(:last-child) {
        border-bottom: $table-border-width solid $table-border-color;
      }

      th {
        //text-align: center;
      }

      td {

        &:last-child {
          font-size: 29px;
          line-height: 1;
          color: theme-color();
          font-weight: 700;
          text-align: right;
        }
      }
    }
  }
}
