// Component Wizard
// ---------

$c-wizard: "wizard";
.#{$c-wizard} {
  display: flex;
  flex-direction: column;

  &,
  > .content {
    height: 100%;
  }

  > .content {
    overflow-y: auto;
    @extend .c-card;

    // Body
    > .body {
      @extend .c-card__body;
      margin-bottom: 0;
    }
  }

  > .steps {
    ul {
      display: flex;

      li {
        flex-grow: 1;

        &.current a {
          cursor: initial;
          background-color: theme-color("secondary");
          border-color: theme-color("secondary");
        }

        &.disabled {
          cursor: not-allowed;
          a {
            pointer-events: none;
          }
        }
      }

      a {
        width: 100%;
        margin-bottom: 0;
        border-radius: 0;
        background-color: $background-opacity;
        text-transform: initial;
        color: theme-color();
        border-color: gray("200");
      }
    }
  }

  .actions {
    ul {
      display: flex;
      justify-content: flex-end;
      padding: $grid-gutter-width;
      width: 100%;
      background-color: theme-color();
    }

    li {
      &:last-child {
        margin-left: auto;
      }

      &.disabled {
        display: none;
      }
    }

    a {
      margin-bottom: 0;
    }
  }

  // Heading
  legend {
    @extend .c-card__header;
    padding-top: $grid-gutter-width;
    text-align: center;
  }

  // Actions
  a {
    @extend .btn;
    @extend .btn-secondary;
  }

  @include e(header) {
    @extend %h4;
    margin-bottom: 0;
    background-color: theme-color();
    width: 100%;
    color: $white;
    text-align: center;
    text-transform: uppercase;
    padding: $grid-gutter-width;
  }
}
