// Component root
// ---------

$component-modal: '.c-modal';
$component-table: '.c-table';
$component-ranking: '.c-ranking';
$component-login: '.c-login';
$component-trivia: '.c-trivia';

@import "c-heading";
@import "c-baseline";
@import "c-modal";
@import "c-login";
@import "c-ranking";
@import "c-table";
@import "c-trivia";
@import "c-counter";
