<div class="c-card-wrap c-card-wrap--next-challenges">
  <div class="c-card card">
    <div class="embed-responsive card-img-wrap">
      <img
        class="embed-responsive-item card-img"
        src="https://picsum.photos/200/400"
        alt=""
      />
    </div>
    <div class="card-body">
      <h5 class="card-title">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus
        mollitia reiciendis soluta!
      </h5>
      <p class="card-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at
        porttitor sem. Aliquam erat volutpat. Donec placerat nisl magna, et
        faucibus arcu condimentum sed. Lorem ipsum dolor sit amet, consectetur
        adipiscing elit. Aliquam at porttitor sem. Aliquam erat volutpat. Donec
        placerat nisl magna, et faucibus arcu condimentum sed.
      </p>
      <div class="row align-items-center">
        <div class="col-auto">
          <a href="#" class="btn text-dark btn-link p-0">Conoce más</a>
        </div>
        <div class="col-auto ml-auto">
          <a href="#" class="btn-share">
            <img
              src="./img/icon-white-share.png"
              class="btn-share-img"
              alt="Icono compartir blanco"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
