<div class="c-card-wrap c-card-wrap--vote">
  <div class="c-card card">
    <div class="card-header">
      <span class="h4 font-family-primary mb-0">0{{ @index }}</span>
      <h6 class="card-subtitle mb-1 mr-2 text-right">
        Mundo Pix
      </h6>
    </div>
    <div class="embed-responsive card-img-wrap">
      <img
        class="embed-responsive-item card-img"
        src="https://picsum.photos/200/400"
        alt=""
      />
      <div class="card-img-overlay d-flex justify-content-end align-items-end">
        <a href="#" class="btn-share">
          <img
            src="./img/icon-white-share.png"
            class="btn-share-img"
            alt="Icono compartir blanco"
          />
        </a>
      </div>
    </div>
    <div class="card-body">
      <h5 class="card-title">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus
        mollitia reiciendis soluta!
      </h5>
    </div>
    <div class="card-footer">
      <a
        href="#"
        class="btn btn-lg btn__white btn__white--arrow-left pl-3 pr-5 py-3"
        >123</a
      >
      <a href="#" class="btn btn-lg btn__dark btn__dark--arrow-left px-6 py-3"
        >Votar</a
      >
    </div>
  </div>
</div>
