<!-- Modal -->
<div
  class="c-modal c-modal--variant modal fade"
  id="exampleModalCenter"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Ten en cuenta</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <p class="p">
          Avisale a tu responsable que próximamente lo contactaremos para
          aprobar tu participación. Después de su aprobación te llegará a tu
          correo inscrito el OK para que ingreses a tu perfil y comiences esta
          aventura.
        </p>
        <p class="p">Continua el registro de tus datos</p>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn__dark btn__dark--arrow-left"
          data-dismiss="modal"
        >
          Volver al registro
        </button>
      </div>
    </div>
  </div>
</div>
