<!--Points-->
<ul class="form-row flex-nowrap justify-content-center -no-gutters">
  <li class="col-6 col-md-auto">
    <div class="tile">
      <span class="h4 font-family-primary">1500</span>
      <p class="h6 text-uppercase font-family-secondary mb-0">
        Equipo Bit
      </p>
    </div>
  </li>
  <li class="col-6 col-md-auto">
    <div class="tile">
      <span class="h4 font-family-primary">1308</span>
      <p class="h6 text-uppercase font-family-secondary mb-0">
        Equipo Pix
      </p>
    </div>
  </li>
</ul>
