<section class="section__container--lg">
  <!--Header row-->
  <div class="row mb-3 mb-md-6">
    <div class="col-12 text-center">
      {{> section-header title='Próximos retos' subtitle='Cada semana se
      habilitará un nuevo reto'}}
    </div>
  </div>
  <!--Next challenges wrap-->
  <div class="row">
    <div class="col-12">
      <ul class="row c-slider" id="sliderNextChallenges">
        {{#repeat 5}}
        <li class="col-12 col-md-6 col-lg-auto">
          {{> card-challenges}}
        </li>
        {{/repeat}}
      </ul>
    </div>
  </div>
  <div class="row justify-content-center mt-6">
    <div class="col-auto">
      <a href="#" class="btn btn-lg btn__white btn__white--arrow"
        >Conoce el ranking</a
      >
    </div>
  </div>
</section>
