<section class="section__container--lg">
  <div class="row align-items-lg-center">
    <div class="col-12 col-lg-6 mb-5 mb-lg-0">
      {{> video-default}}
    </div>
    <div class="col-12 col-lg-5 mx-lg-auto">
      <!--Header-->
      <header class="mb-4">
        {{> section-header title='Fortnite' subtitle='Participa por estar en la
        final'}}
      </header>
      <!--Text-->
      <p class="p">
        Lorem ipsum dolor sit amet consectetur adipiscing elit, tempus risus
        etia. Lorem ipsum dolor sit amet consectetur adipiscing elit, tempus
        risus etiam conubia taciti quam, nam dui laoreet morbi sollicitudin
        feugiat.
      </p>
      <p class="p">
        Lorem ipsum dolor sit amet consectetur adipiscing elit, tempus risus
        etia. Lorem ipsum dolor sit amet consectetur adipiscing elit, tempus
        risus etiam conubia taciti quam, nam dui laoreet morbi sollicitudin
        feugiat.
      </p>
      <p class="p">
        Lorem ipsum dolor sit amet consectetur adipiscing elit, tempus risus
        etia. Lorem ipsum dolor sit amet consectetur adipiscing elit, tempus
        risus etiam conubia taciti quam, nam dui laoreet morbi sollicitudin
        feugiat.
      </p>
    </div>
  </div>
</section>
