<section class="section__container--lg">
  <div class="row justify-content-center align-items-lg-center">
    <!--User info wrap-->
    <div
      class="col-12 col-md-8 col-lg-6 col-xl-5 col-xxl-4 ml-xl-auto mb-5 mb-lg-0"
    >
      <div class="row align-items-center">
        <!--User pic wrap-->
        <div class="col-auto">
          <img
            src="https://picsum.photos/200/400"
            alt="..."
            class="rounded-circle p-profile__pic"
          />
        </div>
        <!--User personal info wrap-->
        <div class="col">
          <h6 class="h6 font-family-primary mb-0">Mundo Bit</h6>
          <h5 class="h4 font-family-primary mb-0">Pedro Navaja</h5>
          <a href="./edit-profile.html" class="btn text-dark btn-link p-0 mb-0"
            >Editar perfil</a
          >
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-6">
      <!--User & team points wrap-->
      {{> section-points }}
    </div>
  </div>
</section>
