<section class="section__container--lg">
  <div class="row align-items-lg-center">
    <div class="col-12 col-lg-6 mb-5 mb-lg-0">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe
          class="embed-responsive-item"
          src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0"
        ></iframe>
      </div>
    </div>
    <div class="col-12 col-lg-5 mx-lg-auto">
      <!--Header-->
      <header class="mb-4">
        <h2 class="h4 text-center mb-0">Fortnite</h2>
        <h6 class="h5 text-center mb-0">
          Participa por estar en la final
        </h6>
      </header>
      <!--Text-->
      <p class="p">
        Lorem ipsum dolor sit amet consectetur adipiscing elit, tempus risus
        etia. Lorem ipsum dolor sit amet consectetur adipiscing elit, tempus
        risus etiam conubia taciti quam, nam dui laoreet morbi sollicitudin
        feugiat.
      </p>
      <p class="p">
        Lorem ipsum dolor sit amet consectetur adipiscing elit, tempus risus
        etia. Lorem ipsum dolor sit amet consectetur adipiscing elit, tempus
        risus etiam conubia taciti quam, nam dui laoreet morbi sollicitudin
        feugiat.
      </p>
      <p class="p">
        Lorem ipsum dolor sit amet consectetur adipiscing elit, tempus risus
        etia. Lorem ipsum dolor sit amet consectetur adipiscing elit, tempus
        risus etiam conubia taciti quam, nam dui laoreet morbi sollicitudin
        feugiat.
      </p>
    </div>
  </div>
</section>
