<!--Row-->
<div class="form-row">
  {{#each signup.fields as |value key|}}
  <div class="col-12 col-md-6">
    <div class="form-group">
      <label for="signup_{{key}}" class="label">{{value.label}}</label>
      {{#if (eq value.type 'select')}}
      <select name="signup_{{key}}" id="signup_{{key}}" class="form-control">
        <option value="" selected disabled hidden>
          {{value.description}}
        </option>
        {{#each value.enum as |value key|}}
        <option value="{{value}}">{{value}}</option>
        {{/each}}
      </select>
      {{else}}
      <input
        id="signup_{{key}}"
        type="{{value.type}}"
        class="form-control"
        required="{{value.required}}"
      />
      {{/if}}
    </div>
  </div>
  {{/each}}
</div>
