// Variables
// ---------

//
// Color system
//

$gray-100: #f8f9fa !default;
$gray-200: #B0BEC5 !default;
$gray-400: #78909C !default;

$grays: map-merge(
    (
      gray: $gray-100,
      light: $gray-200,
      muted: $gray-400
    ),
    $grays
);

$primary: #008834 !default;
$secondary: #2c5e31 !default;
$tertiary: #d5c796 !default;
$background: #d3decc !default;

$themes: () !default;

$themes: map-merge(
    (
      primary: $primary,
      secondary: $secondary,
      tertiary: $tertiary,
      background: $background,
    ),
    $themes
);

$success: #4ada64 !default;
$info: #0084ff !default;
$warning: #ffb204 !default;
$danger: #ff0000 !default;
$accent: #449d1b !default;

$states: () !default;

$states: map-merge(
    (
      success: $success,
      info: $info,
      warning: $warning,
      danger: $danger,
      accent: $accent
    ),
    $states
);

$palettes: (
  grays: $grays,
  themes: $themes,
  states: $states,
);

$colors: map-merge(
    map-merge($grays, $themes),
    $states
);

//
// Modular scale
//

$modularscale: (
  base: 16px,
  ratio: $major-second,
  map-get($grid-breakpoints, "sm"): (
    base: 16px,
    ratio: $major-second,
  ),
  map-get($grid-breakpoints, "lg"): (
    base: 18px,
    ratio: $augmented-fourth,
  ),
);

$custom-scale: () !default;

$custom-scale: map-merge(
    (
      lead: 7,
      h1: 6,
      h2: 5,
      h3: 4,
      h4: 3,
      h5: 2,
      h6: 1,
      body: 0,
      small: -1,
      tiny: -2,
    ),
    $custom-scale
);

//
// Variables
//

$asset-base-path: '../assets';
$body-font-size: ms(0) !default;
$btn-name: 'button';

// Transitions
$transition-duration: .4s !default;
$transition-timing-function: $easeOutQuart !default;
$transition: all $transition-duration $transition-timing-function !default;

//
// Fonts
//
// Families and modular scale
@include font-face('Pt Sans', 'Pt-Sans-regular');
$font-stack-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$font-stack-serif: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
$font-stack-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-stack-primary: 'Pt Sans', $font-stack-sans;
$font-stack-secondary: 'Roboto', $font-stack-serif;


