<!--header-->
<header class="sticky-top bg-primary">
  <div class="container">
    <nav class="c-navbar navbar navbar-dark">
      <a class="navbar-brand" href="/index.html">Navbar</a>
      <ul class="navbar-nav flex-row flex-grow-1">
        <li class="nav-item active">
          <a class="nav-link" href="/win-coronas.html">Gana Coronas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/prizes.html">Premios</a>
        </li>
        <li class="nav-item dropdown ml-auto">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            User
          </a>
          <div
            class="dropdown-menu dropdown-menu-right position-absolute"
            aria-labelledby="navbarDropdown"
          >
            <a class="dropdown-item" href="/edit-profile.html">Editar perfil</a>
            <a class="dropdown-item" href="/index.html">Cerrar sesión</a>
          </div>
        </li>
      </ul>
    </nav>
  </div>
</header>
