<nav
  class="c-navbar navbar navbar-expand-xl navbar-dark bg-dark -fixed-top sticky-top"
>
  <button
    class="navbar-toggler collapsed"
    type="button"
    data-toggle="collapse"
    data-target="#navbarTogglerDemo03"
    aria-controls="navbarTogglerDemo03"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <a href="./profile.html" class="navbar-profile">
    <img
      src="./img/icon-white-profile.png"
      alt="Icono perfil blanco"
      class="navbar-profile-icon"
    />
  </a>
  <a class="navbar-brand" href="./index.html"></a>
  <div class="collapse navbar-collapse w-100" id="navbarTogglerDemo03">
    <!--Nav white-->
    <div class="navbar-nav row w-100">
      <ul
        class="d-flex flex-column flex-xl-row justify-content-xl-end col col-xl-6"
      >
        <li class="nav-item active">
          <a class="nav-link" href="./feed.html"
            >Feed <span class="sr-only">(current)</span></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./meet.html">Conoce</a>
        </li>
      </ul>
      <ul
        class="d-flex flex-column flex-xl-row justify-content-xl-start col col-xl-6"
      >
        <li class="nav-item">
          <a class="nav-link" href="./challenges.html">Retos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./vote.html">Votación</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./ranking.html">Ranking</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
