//
// Extends
//

// Typography

@each $base, $properties in $custom-scale {
  %#{$base} {
    // Variables
    $scale: map-get($properties, scale);
    $line-height: map-get($properties, line-height);
    $font-weight: map-get($properties, font-weight);
    // Set defaults
    @if $font-weight == null {
      $font-weight: $font-weight-base;
    }
    @if $line-height == null {
      $line-height: $line-height-base;
    }
    // Properties
    @include ms-respond(font-size, $scale);
    line-height: $line-height;
    font-weight: $font-weight;
    margin-bottom: $vertical-rhythm;
  }
}
