// Variables
// ---------

$colors: map-merge(map-merge($grays, $theme-colors), $colors);

$font-size-base: ms(0);
$vertical-rhythm: $font-size-base * 2;

$custom-scale: (
  lead: (
    7,
    $vertical-rhythm * 2
  ),
  h1: (
    6,
    $vertical-rhythm * 2
  ),
  h2: (
    5,
    $vertical-rhythm * 1.75
  ),
  h3: (
    4,
    $vertical-rhythm * 1.5
  ),
  h4: (
    3,
    $vertical-rhythm * 1.25
  ),
  h5: (
    2,
    $vertical-rhythm
  ),
  h6: (
    1,
    $vertical-rhythm
  ),
  body: (
    0,
    $vertical-rhythm
  ),
  small: (
    -1,
    $vertical-rhythm / 1.333333333333333
  ),
  tiny: (
    -2,
    $vertical-rhythm / 1.333333333333333
  )
);

//
// Variables
//

$asset-base-path: "..";
$btn-name: "btn";

// Transitions
$transition-duration: 0.4s;
$transition-timing-function: $easeOutQuart;
$transition: all $transition-duration $transition-timing-function;

//
// Fonts
//
// Families and modular scale
@include font-face("Material Icons", "MaterialIcons-Regular");
@include font-face("Asap", "Asap-Bold");
$font-family-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";
$font-stack-primary: "Asap", $font-family-sans-serif;
$font-stack-secondary: "Roboto", $font-family-serif;
