// -----------------------------------------------------------------------------
// Variables
// -----------------------------------------------------------------------------

$asset-base-path: "..";

// Grid breakpoints
@import "../../../node_modules/modularscale-sass/stylesheets/modularscale";
@import "../vendor/easing";

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

// Grid containers
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
);

// Modular scale
$modularscale: (
  base: 16px,
  ratio: $minor-third,
  map-get($grid-breakpoints, "sm"): (
    base: 16px
  ),
  map-get($grid-breakpoints, "lg"): (
    base: 18px,
    ratio: $fourth
  )
);

//  TAG     MB      DK
//  lead    00      62
//  h1      00      57
//  h2      00      39
//  h3      00      32
//  h4      00      29/30
//  h5      00      24/25
//  h6      00      20/21
//  p       00      18

// Color system
$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #b0bec5;
$gray-400: #78909c;
$gray-900: #2c3637;
$black: #000;

$primary: #0090c7;
$secondary: #008834;

// Grid columns
$grid-columns: 12;
$grid-gutter-width: rem(24);

// Body
$body-color: $gray-900;

// Components
$box-shadow: 0 em(2) em(2) rgba($black, 0.7);
$border-color: $gray-200;

// Transitions
$transition-timing-function: $easeOutQuart;
$transition-duration: 0.4s;
$transition: all $transition-duration $transition-timing-function;

// Typography
//
// Font, line-height, and color for body text, headings, and more.
$ms-base: ms(0);
$font-size-base: rem($ms-base);
$line-height-base: 2;
$vertical-rhythm: $ms-base * $line-height-base;

$font-family-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";

/// @param {Number} scale
/// @param {Number} line-height
/// @param {Number} font-weight
$custom-scale: (
  h1: (
    scale: 6,
    line-height: 56,
    font-weight: 700
  ),
  h2: (
    scale: 5,
    line-height: 30,
    font-weight: 700
  ),
  h3: (
    scale: 4,
    line-height: 28,
    font-weight: 400
  ),
  h4: (
    scale: 3,
    line-height: 24,
    font-weight: 700
  ),
  h5: (
    scale: 2,
    line-height: 22
  ),
  h6: (
    scale: 1,
    line-height: 20,
    font-weight: 600
  ),
  body: (
    scale: 0,
    line-height: 24,
    font-weight: 400
  ),
  small: (
    scale: -1,
    line-height: 20
  ),
  caption: (
    scale: -1,
    line-height: 20
  ),
  tiny: (
    scale: -2,
    line-height: 18
  )
);

$h1-font-size: ms(6);
$h2-font-size: ms(5);
$h3-font-size: ms(4);
$h4-font-size: ms(3);
$h5-font-size: ms(2);
$h6-font-size: ms(1);

// Buttons + Forms
$border-width: rem(1);
$input-btn-padding-y: rem(16) - $border-width;
$input-btn-padding-x: rem(24) - $border-width;
$border-radius: rem(4);

// Forms
//
$form-grid-gutter-width: $grid-gutter-width / 1.5;
$input-placeholder-color: $gray-400;
$input-color: $gray-900;

// Lang
$custom-file-text: (
  en: "Elegir"
);

// Select
$input-color-placeholder: $input-placeholder-color;

// File
$input-group-addon-bg: $gray-200;
$input-height-border: $border-width;

// Checkbox
$custom-control-indicator-size: rem(24);
$custom-control-gutter: $custom-control-indicator-size / 2;

// Dropdown
$dropdown-item-padding-y: $input-btn-padding-y;

//$colors: map-merge(map-merge($grays, $theme-colors), $colors);
