// -----------------------------------------------------------------------------
// Variables
// -----------------------------------------------------------------------------

$asset-base-path: "..";

// Grid breakpoints
@import "../../../node_modules/modularscale-sass/stylesheets/modularscale";

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1281px,
  xxl: 1920px
);

// Grid containers
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1280px
);

// Modular scale
$modularscale: (
  base: 14px,
  ratio: $minor-third,
  map-get($grid-breakpoints, "sm"): (
    base: 14px
  ),
  map-get($grid-breakpoints, "xxl"): (
    base: 15px,
    //ratio: $augmented-fourth
  )
);

//  TAG     MB      DK
//  hh      69/50   116 - vmin
//  hh      50/32   82 - vmin
//  lead    21      62 - vmin
//  hh      27      57 - vmin
//  h2      30      48
//  h3      25      39
//  h4      17      29/30
//  h5      20      24/25
//  h6      00      20/21
//  p       14      18/19
//  small   14      15

$enable-shadows: true;

// Color system
$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #b0bec5;
$gray-400: #78909c;
$gray-900: #39100f;
$black: #000;

$primary: #e2171f;
$secondary: #ebe3d5;

$dark: $gray-900;

// Grid columns
$grid-columns: 12;
$grid-gutter-width: rem(24);

// Body
//
// Settings for the `<body>` element.
$body-bg: $white;
$body-color: $gray-900;

// Components
$box-shadow: 0 em(4) em(6) rgba($black, 0.16);
$box-shadow-hover: 0 em(2) em(4) rgba($black, 0.32);
$border-color: $gray-200;

// Transitions
$transition-duration: 0.4s;

// Typography
//
// Font, line-height, and color for body text, headings, and more.
$ms-base: ms(0);
$font-size-base: rem($ms-base);
$line-height-base: 2;
$vertical-rhythm: $ms-base * $line-height-base;

$font-family-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";

$custom-scale: (
  lead: (
    7,
    $vertical-rhythm * 2
  ),
  h1: (
    6,
    $vertical-rhythm * 2
  ),
  h2: (
    5,
    $vertical-rhythm * 1.75
  ),
  h3: (
    4,
    $vertical-rhythm * 1.5
  ),
  h4: (
    3,
    $vertical-rhythm * 1.5
  ),
  h5: (
    2,
    $vertical-rhythm
  ),
  h6: (
    1,
    $vertical-rhythm
  ),
  body: (
    0,
    $vertical-rhythm
  ),
  small: (
    -1,
    $vertical-rhythm / 1.333333333333333
  ),
  tiny: (
    -2,
    $vertical-rhythm / 1.333333333333333
  )
);

$h1-font-size: ms(6);
$h2-font-size: ms(5);
$h3-font-size: ms(4);
$h4-font-size: ms(3);
$h5-font-size: ms(2);
$h6-font-size: ms(1);

$headings-font-weight: 700;

// Buttons + Forms
$border-width: rem(2);
$input-btn-padding-y: rem(12) - $border-width;
$input-btn-padding-x: rem(24) - $border-width;
$border-radius: rem(4);

// Forms
//
$form-grid-gutter-width: $grid-gutter-width / 1.5;
$input-placeholder-color: $gray-400;
$input-color: $gray-900;

// Lang
$custom-file-text: (
  en: "Elegir"
);

// Select
$input-color-placeholder: $input-placeholder-color;

// File
$input-group-addon-bg: $gray-200;
$input-height-border: $border-width;

// Checkbox
$custom-control-indicator-size: rem(24);
$custom-control-gutter: $custom-control-indicator-size / 2;

// Dropdown
$dropdown-item-padding-y: $input-btn-padding-y;

// Modal
$modal-content-color: $primary;
$modal-inner-padding: em(32);
$modal-content-border-color: transparent;
$modal-header-border-color: $modal-content-border-color;
$modal-footer-border-color: $modal-content-border-color;

// Cards
$card-spacer-y: em(32);
$card-spacer-x: em(8);
$card-cap-bg: transparent;
$card-border-color: $card-cap-bg;

// Tables
$table-cell-padding: rem(4);
$table-border-width: $card-spacer-x;
$table-border-color: $white;

// Navbar
$navbar-padding-y: 0;
$navbar-nav-link-padding-x: em(8);
$navbar-brand-padding-y: $navbar-padding-y;
$navbar-brand-font-size: 1em;
$navbar-light-color: $dark;
$navbar-light-active-color: $primary;
$navbar-light-toggler-border-color: transparent;

// Navs
$nav-pills-link-active-color: $primary;
$nav-pills-link-active-bg: $secondary;
$nav-pills-border-radius: 0;

$embed-responsive-aspect-ratios: ();

// Embed
$embed-responsive-aspect-ratios: join(
  ((21 9), (16 9), (9 6), (4 3), (1 1)),
  $embed-responsive-aspect-ratios
);

// Transition
$transition-collapse: transform ($transition-duration / 2) ease;
//$colors: map-merge(map-merge($grays, $theme-colors), $colors);
