<article class="p-feed py-6">
  <div class="container container--wider section__container--lg">
    <div class="row align-items-md-center justify-content-md-between">
      <!--Featured video-->
      <div class="col-12 col-lg-7 mb-5 mb-lg-0">
        {{> video-frame}}
      </div>
      <div class="col-12 col-lg-4">
        <section class="section__container">
          <!--Header-->
          <header class="mb-5 mb-md-4">
            <h2 class="h6 text-center mb-0">
              Entérate de las <br />acciones de cada mundo
            </h2>
            <h6 class="h2 text-center text-uppercase">
              Pix y bit
            </h6>
          </header>
          <!--Points-->
          <ul class="form-row -no-gutters">
            <li class="col-6">
              <div class="tile tile__sm">
                <span class="h4 font-family-primary">1500</span>
                <p class="h6 text-uppercase font-family-secondary mb-0">
                  Equipo Bit
                </p>
              </div>
            </li>
            <li class="col-6">
              <div class="tile tile__sm">
                <span class="h4 font-family-primary">1308</span>
                <p class="h6 text-uppercase font-family-secondary mb-0">
                  Equipo Pix
                </p>
              </div>
            </li>
          </ul>
        </section>
        <!--Divider top-->
        <div class="row justify-content-center">
          <div class="col-10">
            <img
              src="./img/hr-white-top.png"
              alt="Divisor blanco"
              class="w-100"
            />
          </div>
        </div>
        <!--Countdown wrap-->
        <section class="section__container">
          {{> countdown}}
        </section>
      </div>
    </div>
  </div>
  <div class="container">
    <!--Divider top-->
    <img src="./img/hr-white-top.png" alt="Divisor blanco" class="e-divider" />
    <section class="section__container--lg">
      <!--Header row-->
      <div class="row mb-3 mb-md-6">
        <div class="col-12 text-center">
          <!--Header-->
          <h2 class="h4 text-center mb-0">Retos Black & White</h2>
          <h6 class="h5 text-center">
            Primeros lugares en los retos
          </h6>
        </div>
      </div>
      <!--Challenges wrap-->
      <div class="row">
        <div class="col-12">
          <ul class="row justify-content-around c-slider" id="sliderChallenges">
            {{#repeat 3}}
            <li class="col-12 col-md-6 col-lg-auto">
              {{> card-vote}}
            </li>
            {{/repeat}}
          </ul>
        </div>
      </div>
    </section>
    <!--Divider compound-->
    <img
      src="./img/hr-white-compound.png"
      alt="Divisor blanco"
      class="e-divider"
    />
    <section class="section__container--lg">
      <!--Header row-->
      <div class="row mb-3 mb-md-6">
        <div class="col-12 text-center">
          <!--Header-->
          <h2 class="h4 text-center mb-0">Próximos retos</h2>
          <h6 class="h5 text-center">
            Cada semana se habilitará un nuevo reto
          </h6>
        </div>
      </div>
      <!--Next challenges wrap-->
      <div class="row">
        <div class="col-12">
          <ul class="row c-slider" id="sliderNextChallenges">
            {{#repeat 5}}
            <li class="col-12 col-md-6 col-lg-auto">
              {{> card-challenges}}
            </li>
            {{/repeat}}
          </ul>
        </div>
      </div>
      <div class="row justify-content-center mt-6">
        <div class="col-auto">
          <a href="#" class="btn btn-lg btn__white btn__white--arrow"
            >Conoce el ranking</a
          >
        </div>
      </div>
    </section>
    <!--Divider compound-->
    <img
      src="./img/hr-white-compound.png"
      alt="Divisor blanco"
      class="e-divider"
    />
    {{> section-take-part}}
  </div>
</article>
