<article class="p-feed py-6">
  <div class="container container--wider section__container--lg">
    <div class="row align-items-md-center justify-content-md-between">
      <!--Featured video-->
      <div class="col-12 col-lg-7 mb-5 mb-lg-0">
        {{> video-frame}}
      </div>
      <div class="col-12 col-lg-4">
        <section class="section__container">
          <!--Header-->
          <header class="mb-5 mb-md-4">
            <h2 class="h6 text-center mb-0">
              Entérate de las <br />acciones de cada mundo
            </h2>
            <h6
              class="h2 text-center text-uppercase d-flex justify-content-center"
            >
              <span class="glitch-text">Pix </span> y
              <span class="glitch-text"> bit</span>
            </h6>
          </header>
          <!--Points wrap-->
          {{> section-points}}
        </section>
        <!--Divider top-->
        <div class="row justify-content-center">
          <div class="col-10">
            {{> divider position='top'}}
          </div>
        </div>
        <!--Countdown wrap-->
        <section class="section__container">
          {{> countdown}}
        </section>
      </div>
    </div>
  </div>
  <div class="container">
    <!--Divider top-->
    {{> divider position='top'}}
    <section class="section__container--lg">
      <!--Header row-->
      <div class="row mb-3 mb-md-6">
        <div class="col-12 text-center">
          {{> section-header title='Retos Black & White' subtitle='Primeros
          lugares en los retos'}}
        </div>
      </div>
      <!--Challenges wrap-->
      <div class="row">
        <div class="col-12">
          <ul class="row justify-content-around c-slider" id="sliderChallenges">
            {{#repeat 3}}
            <li class="col-12 col-md-6 col-lg-auto col-xl-4">
              {{> card-vote}}
            </li>
            {{/repeat}}
          </ul>
        </div>
      </div>
    </section>
    <!--Divider-->
    {{> divider position='compound'}}
    <!--Section challenges-->
    {{> section-challenges}}
    <!--Divider-->
    {{> divider position='compound'}}
    <!--Section take part-->
    {{> section-take-part}}
  </div>
</article>
