<article class="p-feed">
  <div class="container py-4">
    <!--Divider top-->
    <img src="./img/hr-white-top.png" alt="Divisor blanco" class="w-100" />
    <!--Header row-->
    <div class="row py-4">
      <div class="col-12 text-center">
        <!--Header-->
        <h2 class="h4 text-center">Registro</h2>
        <h6 class="h6 text-center">
          Ingresa tu información <br />para quedar registarado
        </h6>
        <!--Login-->
        <p class="small text-center text-uppercase mb-0">
          ¿Ya tienes una cuenta?
        </p>
        <a
          href="#"
          class="btn-link d-inline-block p text-center font-weight-700 font-family-primary text-dark"
          >Inicia sesión aquí</a
        >
      </div>
    </div>
    <!--Divider bottom-->
    <img src="./img/hr-white-bottom.png" alt="Divisor blanco" class="w-100" />
  </div>
</article>
