<!--Page-->
<article class="p-goal">
  <div class="container">
    <!--Video-->
    <div class="row mb-4 mb-md-5">
      <div class="col-12 col-md-3 d-none d-md-block">
        <img
          class="w-100 h-auto"
          src="img/poster-avf_eve.svg"
          alt="Placeholder image"
        />
        <div class="row justify-content-center">
          <div class="col-7">
            <img
              class="w-100 h-auto mt-5"
              src="img/footer-logos.svg"
              alt="Placeholder image"
            />
          </div>
        </div>
      </div>
      <div class="col-12 col-md">
        <div class="embed-responsive embed-responsive-16by9">
          <img
            class="embed-responsive-item"
            src="https://via.placeholder.com/935x511"
            alt="Placeholder image"
          />
        </div>
      </div>
    </div>
    <!--Field-->
    <div class="row mb-4 mb-md-5 content-wrap">
      <div class="col-12 col-md-9">
        <div class="morph-wrap">
          <svg class="morph" width="1400" height="770" viewBox="0 0 1400 770">
            <path
              d="M36.426 3.758 141.391 24.578 311.887 3.758 231.141 101.629 125.143 57.62 4.133 88.254z"
            />
          </svg>
        </div>
        <figure class="content__img">
          <img
            class="w-100 h-auto mb-4 mb-md-0"
            src="img/field-avf_eve.png"
            alt="Placeholder image"
          />
        </figure>
      </div>
      <div class="col-12 col-md">
        <div class="text-primary text-center text-md-left font-weight-normal">
          <p class="mb-3">
            Minuto 82’
          </p>
          <p class="mb-3">
            Resultado final:
            <br />
            4 – 0
          </p>
          <p class="mb-3">
            Jugadores:
            <br />
            AST:
            <br />
            9 Juan Pablo Ángel*
            <br />
            10 Milan Barros
          </p>
        </div>
      </div>
    </div>
    <!--Description-->
    <div class="row justify-content-center mb-4 mb-md-5">
      <div class="col-11 col-md-6">
        <!--Copy-->
        <div class="row justify-content-center mb-4">
          <div class="col-11 col-md-12">
            <div class="text-white">
              <p>
                Se dice que los ángeles pertenecen al cielo. Que bajan de vez en
                cuando a sorprender a la Humanidad. Lo que ningún integrante del
                Everton sabía esa noche, era que estaban apunto de presenciar el
                gol de uno de ellos.
              </p>
              <p>
                Era el minuto 82 y el 9 del Aston Villa sentía la ligereza de
                los inicios del partido. Su velocidad se comparaba con el
                impulso de dos grandes alas en su espalda. Baros había visto esa
                mirada antes, el ángel había descendido y él no se atrevería a
                cortarle la inspiración. Con su papel claro recibió el pase
                desde la mitad de la cancha, y sin moverse de su posición,
                adelantó el balón hacia donde la mirada de Ángel indicaba el
                pase.
              </p>
              <p>
                Juan Pablo no tuvo que modificar la dirección de sus pies para
                golpear el esférico, pues su carrera ya tenía premeditada una
                pared fenomenal. Baros no podía creer que su compañero, en menos
                de dos segundos estuviera detrás de la defensa azul. Sintió la
                presión de la fanaticada del Everton. Imploraban al cielo que
                fallara el pase. Lo que no sabían era que el ángel tenía al
                cielo de su lado. Más de 50 mil ojos vieron cómo la pelota
                traspasó las 16 con 50. El fervor de la carrera del hombre alado
                culminó, perfilando la caprichosa y con el mismo pie empujándola
                hacia la red. Abrió sus brazos como extendiendo sus alas y buscó
                a su cómplice para celebrar ese gol.
              </p>
              <p>
                Hoy en día es difícil saber si el propósito de Juan Pablo Ángel
                era marcar para siempre la mente de los espectadores en esa
                monumental goleada. Lo único que si sabemos es que después de
                ese partido muchos empezaron a creer en los ángeles. Y se
                preguntan si volverán a ver uno.
              </p>
            </div>
          </div>
        </div>
        <!--Download-->
        <div class="row justify-content-center my-3 my-md-5">
          <!--Divider-->
          <div class="col-4">
            <div class="border-top border-primary"></div>
            <div class="border-top border-primary mb-3"></div>
          </div>
          <!--Body-->
          <div class="col-12">
            <h6
              class="text-white text-center text-uppercase font-weight-bold mb-3"
            >
              Descarga material exclusivo de Budweiser Goals aquí.
            </h6>
          </div>
          <!--Button-->
          <div class="col-auto">
            <button
              type="button"
              class="d-flex align-items-center btn btn-outline-primary"
            >
              <span> Descargar </span>
              <i class="ml-2 material-icons">
                keyboard_arrow_right
              </i>
            </button>
          </div>
          <div class="w-100"></div>
          <!--Divider-->
          <div class="col-4">
            <div class="border-top border-primary"></div>
            <div class="border-top border-primary mb-3"></div>
          </div>
          <div class="w-100"></div>
          <!--Share-->
          <div class="col-auto">
            <div class="row align-items-center">
              <div class="col-auto">
                <h6
                  class="text-primary text-center text-uppercase font-weight-bold mb-0"
                >
                  Compartir
                </h6>
              </div>
              <div class="col-auto">
                <button
                  type="button"
                  class="d-flex align-items-center btn btn-outline-primary mb-0"
                >
                  <i class="material-icons">
                    share
                  </i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Images-->
    <div class="row justify-content-center mt-5">
      <div class="col-11 col-md-12">
        <ul class="">
          <li class="mb-3 mb-md-5">
            <div class="embed-responsive embed-responsive-9by6">
              <img
                class="embed-responsive-item"
                src="img/stock-01.jpg"
                alt="Placeholder image"
              />
            </div>
          </li>
          <li class="mb-3 mb-md-5">
            <div class="embed-responsive embed-responsive-9by6">
              <img
                class="embed-responsive-item"
                src="img/stock-02.jpg"
                alt="Placeholder image"
              />
            </div>
          </li>
          <li class="mb-3 mb-md-5">
            <div class="embed-responsive embed-responsive-9by6">
              <img
                class="embed-responsive-item"
                src="img/stock-03.jpg"
                alt="Placeholder image"
              />
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</article>
