---
title: Home
description: Lorem ipsum.
---

<div class="c-grid__wrap embed-responsive embed-responsive-16by9">
  <div class="c-grid c-grid--layout embed-responsive-item">
    {{#repeat 3}}
    <div class="c-grid__item-wrap revealer--showY">
      <div class="c-grid__item">
        <img src="./img/img-grid-1a.png" alt="" />
      </div>
    </div>
    {{/repeat}}
    <div class="c-grid__item-wrap revealer--showX revealer--right">
      <div class="c-grid__item">
        <img src="./img/img-grid-1a.png" alt="" />
      </div>
    </div>
    {{#repeat 16}}
    <div class="c-grid__item-wrap -revealer--showY revealer--bottom">
      <div class="c-grid__item">
        <img src="./img/img-grid-1a.png" alt="" />
      </div>
    </div>
    {{/repeat}}
  </div>
</div>
