---
title: Home
description: Lorem ipsum.
---

<section id="c-baseline">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-6">
        <h1 class="h1">H1: Each list example</h1>
        <ul class="breakfast-items">
          {{#each contact.list}}
          <li class="{{this}}-{{@index}}">{{ this }}</li>
          {{/each}}
        </ul>
        <h2>H2: Repeat <span id="foo"></span> times example</h2>
        <ul>
          {{#repeat 3}}
          <li>Lorem ipsum dolor sit amet.</li>
          {{/repeat}}
        </ul>
        <h3>H3: Help Us Improve</h3>
        <p>
          Paragraph: This is version 1 of Archetype and we'd love your
          feedback and suggestions on how we can improve it to make it
          even more useful. Please use the feedback link in the header
          to let us know what you think. Be as critical as you like,
          we have thick skin.
        </p>
        <h4>
          H4: Still Reading? H4: Still Reading? H4: Still Reading?
        </h4>
        <p>
          Well here's some inspirational quotes for you: “Good design
          is making something intelligible and memorable. Great design
          is making something memorable and meaningful”: Dieter Rams.
        </p>
        <h5>H5: More? Ok</h5>
        <p>
          Paragraph: “A designer knows he has achieved perfection not
          when there is nothing left to add, but when there is nothing
          left to take away”: Antoine de Saint-Exupery.
        </p>
        <h6>H6: One For the Road</h6>
        <p class="body">
          Paragraph: Archetype lets designers like you very quickly
          and easily create consistent typography styling and spacing
          live, in the browser. These styles are all underpinned by
          established typographic best practices meaning less
          guesswork and more harmonious designs.
        </p>
        <p class="small">
          Ab delectus dolore, dolorem error fuga illo ipsa libero
          minus modi nam officia, pariatur quos recusandae soluta
          veniam vitae voluptatum?
        </p>
        <div class="c-banner">
          <div class="c-banner__image">
            <img
              src="https://picsum.photos/400"
              class="w-100"
              alt="Example image"
            />
          </div>
          <div class="c-banner__title">
            <h1 class="text-primary">
              Design System <i class="material-icons">face</i>
            </h1>
          </div>
          <div class="c-banner__subtitle">
            <h6>Standard project module structure</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col-12 col-lg">
        <div class="form-group">
          <label for="text" class="form-control-label"
            >Text label</label
          >
          <input
            id="text"
            type="text"
            placeholder="Placeholder"
            id=""
            class="form-control"
          />
        </div>
      </div>
      <div class="col-12 col-lg">
        <div class="form-group">
          <label for="select" class="form-control-label"
            >Select label</label
          >
          <select
            id="select"
            class="form-control"
            title="seleccionar género"
          >
            <option>Male</option>
            <option>Female</option>
            <option>Undefined</option>
          </select>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="col-12 col-lg">
        <div class="form-group">
          <div class="custom-control custom-checkbox">
            <input
              type="checkbox"
              class="custom-control-input"
              id="customCheck1"
            />
            <label
              class="custom-control-label label"
              for="customCheck1"
              >Check this custom checkbox</label
            >
          </div>
        </div>
      </div>
      <div class="col-12 col-lg">
        <div class="form-group">
          <div class="custom-file">
            <input
              type="file"
              class="custom-file-input"
              id="customFile"
            />
            <label class="custom-file-label" for="customFile"
              >Seleccionar archivo</label
            >
          </div>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col-auto">
        <a href="" class="btn btn-primary">Anchor primary</a>
      </div>
      <div class="col-auto">
        <button class="btn btn-secondary">Button</button>
      </div>
      <div class="col-auto">
        <input type="submit" class="btn btn-warning" value="Submit" />
      </div>
    </div>
  </div>
</section>
