<article class="p-meet py-6">
  <div class="container">
    <!--Header wrap-->
    <section class="section__container">
      <div class="row justify-content-center">
        <div class="col-md-5">
          <!--Header-->
          <header class="">
            <h2 class="h6 text-center mb-0">
              Pony Malta te invita a que pruebes
            </h2>
            <h6 class="h4 text-center text-uppercase mb-0">
              Black & White
            </h6>
          </header>
        </div>
      </div>
    </section>
    <!--Divider top-->
    <div class="row justify-content-center">
      <div class="col-md-5">
        <img
          src="./img/hr-white-top.png"
          alt="Divisor blanco"
          class="e-divider"
        />
      </div>
    </div>
    <!--Countdown wrap-->
    <section class="section__container">
      {{> countdown}}
    </section>
    <!--Video featured-->
    <section class="section__container--lg">
      <div class="row justify-content-center">
        <div class="col-12 col-md-9">
          {{> video-frame}}
        </div>
      </div>
    </section>
    <!--Divider compound-->
    <img
      src="./img/hr-white-compound.png"
      alt="Divisor blanco"
      class="e-divider"
    />
    {{> section-take-part}}
    <!--Divider compound-->
    <img
      src="./img/hr-white-compound.png"
      alt="Divisor blanco"
      class="e-divider"
    />
    <section class="section__container--lg">
      <!--Header row-->
      <div class="row mb-3 mb-md-6">
        <div class="col-12 text-center">
          <!--Header-->
          <h2 class="h4 text-center mb-0">Dinámica</h2>
          <h6 class="h5 text-center">
            Participa, diviértet y gana
          </h6>
        </div>
      </div>
    </section>
  </div>
</article>
