<article class="p-meet py-6">
  <div class="container">
    <!--Header wrap-->
    <section class="section__container">
      <div class="row justify-content-center">
        <div class="col-md-5">
          <!--Header-->
          <header class="">
            <h2 class="h6 text-center mb-0">
              Pony Malta te invita a que pruebes
            </h2>
            <h6 class="h4 text-center text-uppercase mb-0">
              Black & White
            </h6>
          </header>
        </div>
      </div>
    </section>
    <!--Divider top-->
    <div class="row justify-content-center">
      <div class="col-md-5">
        {{> divider position='top'}}
      </div>
    </div>
    <!--Countdown wrap-->
    <section class="section__container">
      {{> countdown}}
    </section>
    <!--Video featured-->
    <section class="section__container--lg">
      <div class="row justify-content-center">
        <div class="col-12 col-md-9">
          {{> video-frame}}
        </div>
      </div>
    </section>
    {{> divider position='compound'}} {{> section-take-part}}
    <section class="section__container--lg">
      <!--Header wrap-->
      <div class="row mb-3 mb-md-6">
        <div class="col-12 text-center">
          {{> section-header title='Dinámica' subtitle='Participa, diviértete y
          gana'}}
        </div>
      </div>
      <!--Steps wrap-->
      <ul>
        <li>
          <div class="c-step-wrap">
            <div class="c-step"></div>
          </div>
        </li>
      </ul>
    </section>
  </div>
</article>
