---
layout: loggedin
title: Recuperar contraseña
inputType: email
inputName: email
txtLabel: Correo electrónico
txtPlaceholder: EJ. flacao@mail.com
txtBadge: INgresa tu correo electrónico
txtSubmit: Enviar
txtDisclaimer: Volver
---

<article class="p-login py-4">
  <div class="container">
    <section class="c-login">
      <div class="l-container my-md-5">
        <div class="l-container__body text-center text-md-left my-md-5">
          <div class="row justify-content-center align-items-md-center">
            <div class="col-auto col-md-4">
              <figure class="c-login__badge">
                <img
                  src="{{root}}img/club-img-logo.png"
                  alt="Medalla de membresía"
                />
              </figure>
            </div>
            <div class="col-12 col-md">
              <!--Header-->
              <h1 class="h1 text-white mb-2">{{title}}</h1>
              {{> badge title=txtBadge tag='h5' classes='mb-4 px-2 px-lg-3'}}
              <!--Form-->
              <form action="">
                <!--Row-->
                <div class="form-row mb-4">
                  <div class="col-12 col-md-6">
                    <div class="form-group">
                      <label for="login_{{inputName}}" class="label text-left"
                        >{{txtLabel}}</label
                      >
                      <input
                        id="login_{{inputName}}"
                        type="{{inputType}}"
                        class="form-control"
                        required="required"
                        placeholder="{{txtPlaceholder}}"
                      />
                    </div>
                  </div>
                </div>
                <!--Row-->
                <div class="l-container__footer form-row mb-md-0">
                  <div class="col-12 col-md-auto">
                    <input
                      type="submit"
                      value="{{txtSubmit}}"
                      class="btn btn-secondary btn-block"
                    />
                  </div>
                  <div class="w-100"></div>
                  <div class="col-12 col-md-auto">
                    <a href="#" class="text-center d-block btn-link"
                      >{{txtDisclaimer}}</a
                    >
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</article>
