---
layout: loggedin

title: Mail de recuperar contraseña enviado
description: Por favor revisa tu correo electrónico, hemos enviado un link de recuperación.
cta: IR A INICIO DE SESIÓN
---

<article class="p-success py-5">
  <div class="container">
    <section class="c-success">
      <div class="l-container my-5">
        <div class="l-container__body">
          <div class="row justify-content-center">
            <div class="col-12 col-md-6">
              <img
                class="c-success__img"
                src="{{root}}img/club-icon-mail.png"
                alt="Ícono de correo electrónico"
              />
              <div class="w-100"></div>
              <h2 class="h3 c-success__title">{{title}}</h2>
              <p class="h6 c-success__description">{{description}}</p>
              <a href="#" class="btn btn-secondary mb-0">{{cta}}</a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</article>
