<article class="p-register">
  <div class="container py-4">
    <!--Divider top-->
    <img src="./img/hr-white-top.png" alt="Divisor blanco" class="w-100" />
    <!--Header row-->
    <div class="row py-4">
      <div class="col-12 text-center">
        <!--Header-->
        <h2 class="h4 text-center">Registro</h2>
        <h6 class="h6 text-center">
          Ingresa tu información <br />para quedar registarado
        </h6>
        <!--Login-->
        <p class="small text-center text-uppercase mb-0">
          ¿Ya tienes una cuenta?
        </p>
        <a
          href="#"
          class="btn-link d-inline-block p text-center font-weight-700 font-family-primary text-dark"
          >Inicia sesión aquí</a
        >
      </div>
    </div>
    <!--Form wrap-->
    <div class="row justify-content-center pb-6">
      <!--Form container-->
      <div class="col-12 col-md-auto">
        <form action="">
          <div class="form-group">
            <label for="text" class="sr-only">Ciudad</label>
            <input
              id="text"
              type="text"
              placeholder="Ciudad"
              class="form-control"
            />
          </div>
          <div class="form-group">
            <label for="text" class="sr-only">Ciudad</label>
            <input
              id="text"
              type="text"
              placeholder="Ciudad"
              class="form-control error"
            />
          </div>
          <div class="form-group">
            <div class="custom-control custom-checkbox">
              <input
                type="checkbox"
                class="custom-control-input"
                id="customCheck1"
              />
              <label class="custom-control-label" for="customCheck1"
                >Acepto términos y condiciones y Politicas de privacidad</label
              >
            </div>
          </div>
          <div class="form-group">
            <div class="custom-control custom-checkbox">
              <input
                type="checkbox"
                class="custom-control-input"
                id="customCheck2"
              />
              <label class="custom-control-label" for="customCheck2"
                >Deseo recibir información comercial y eventos de sabores de
                otra dimensión</label
              >
            </div>
          </div>
        </form>
        <!--Wizard controls-->
        <div class="row justify-content-center">
          <div class="col-6">
            <button class="btn btn-block btn__solid btn__solid--arrow-left">
              Atrás
            </button>
          </div>
          <div class="col-6">
            <button class="btn btn-block btn__solid btn__solid--arrow-right">
              Finalizar
            </button>
          </div>
        </div>
      </div>
    </div>
    <!--Divider bottom-->
    <img src="./img/hr-white-bottom.png" alt="Divisor blanco" class="w-100" />
  </div>
</article>
