---
title: Gana ecoronas
description: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem.
---

<article class="p-win py-4">
  <div class="container">
    <section class="c-win">
      <div class="l-container my-md-5">
        <div class="l-container__body">
          <!--Header-->
          <header class="text-center my-5">
            <h1 class="h1 text-white">{{win.title}}</h1>
            <p class="p text-white">{{win.description}}</p>
          </header>
          <!--List-->
          <section class="l-tile">
            <ul class="l-tile__list">
              {{#each win.list as |value key|}}
              <li class="l-tile__item" id="tile_{{value.id}}">
                <div class="embed-responsive embed-responsive-1by1">
                  <div
                    class="embed-responsive-item c-tile c-tile--{{value.available}}"
                  >
                    <img
                      src="{{root}}img/club-icon-{{value.name}}.png"
                      alt="Ícono del juego"
                      class="c-tile__icon"
                    />
                    <h5 class="c-tile__title h3">{{value.title}}</h5>
                    <a href="#" class="c-tile__link btn btn-secondary mb-0"
                      >{{value.title}}</a
                    >
                  </div>
                </div>
              </li>
              {{/each}}
            </ul>
          </section>
        </div>
      </div>
    </section>
  </div>
</article>
