//
// Component banner
//

.c-banner {
  display: grid;
  @include template(title, subtitle, image);
  grid-column-gap: $grid-gutter-width;
  grid-template-columns: 2fr repeat(2, 1fr);
  grid-template-areas:
    "image title title"
    "image subtitle subtitle";
}
