// Pages root
// ---------

$page-home: '.p-home';
$page-ranking: '.p-ranking';
$page-instructions: '.p-instructions';
$page-trivia: '.p-trivia';
$page-terms: '.p-terms';
$page-repo: '.p-repo';

@import "p-home";
@import "p-ranking";
@import "p-instructions";
@import "p-trivia";
@import "p-repo";
//@import "p-terms";
