// Pages Auth
// ---------

#{$page-auth} {
  //display: grid;
  //align-items: center;
  //grid-template-columns: repeat(2, 1fr);

  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: $background-opacity;
    width: 50vw;
    height: 100%;
  }

  .control-label {
    text-align: left;
    margin-bottom: em(8);
  }

  @include e(container) {
    padding: $grid-gutter-width;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

    .steps {
      display: none;
    }
  }
}
