// Pages RANKING
// ---------

#{$page-ranking} {

  @include e(header) {
    min-height: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include media-breakpoint-down(md) {
      justify-content: flex-end;
    }

    @include media-breakpoint-up(lg) {
      min-height: 46.7vmin;
    }
  }

  @include e(title) {
    position: relative;
    padding-top: .38em;
    padding-right: .3em;
    padding-left: .3em;
    line-height: .5;
    margin-top: .5em;
    margin-bottom: .5em;
    color: $white;
    text-align: center;
    text-transform: uppercase;
    font-family: $font-stack-secondary;
    z-index: 1;
    background-color: rgba($white, 0.4) !important;
    backdrop-filter: blur(24px);
  }

  @include media-breakpoint-up(lg) {
    .nav.nav-pills {
      display: none;
    }

    .tab-content {
      @include make-row();
      margin-top: -$grid-gutter-width * 3;

      & > .tab-pane {
        @include make-col-ready();
        @include make-col(6);
        display: block;
      }
    }
  }
}
