// Pages RANKING
// ---------

#{$page-ranking} {
  min-height: 100vh;

  @include e(header) {
    min-height: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include media-breakpoint-down(md) {
      justify-content: flex-end;
    }

    @include media-breakpoint-up(lg) {
      min-height: 46.7vmin;
    }
  }

  @include e(title) {
    position: relative;
    padding-top: 0.38em;
    padding-right: 0.3em;
    padding-left: 0.3em;
    line-height: 0.5;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    color: $white;
    text-align: center;
    text-transform: uppercase;
    font-family: $font-stack-secondary;
    z-index: 1;
    background-color: rgba($white, 0.4) !important;
    backdrop-filter: blur(24px);
    font-size: 18.4vmin;

    @include media-breakpoint-up(lg) {
      font-size: 6.2vw;
    }
  }

  @include e(header) {
    @include media-breakpoint-up(lg) {
      picture {
        @include image('embajadores-img-ranking-lg');

        img {
          opacity: 0;
        }
      }
    }
  }

  .nav-link {
    @extend .h6;
    padding-right: 1.5em;
    padding-left: 1.5em;
    font-weight: 400;
    margin-bottom: 0;
  }

  @include media-breakpoint-up(lg) {
    .card-header,
    .card-body {
      padding: $card-spacer-x * 2.75;
    }
    .nav.nav-pills {
      display: none;
    }

    .tab-content {
      @include make-row();
      margin-top: -$grid-gutter-width * 2;

      & > .tab-pane {
        @include make-col-ready();
        @include make-col(6);
        display: block !important;
        opacity: 1 !important;
      }
    }
  }
}
