// Pages TERMS
// ---------

#{$page-terms} {
  padding-top: 16vmin;
  padding-bottom: 8vmin;
  min-height: 100vh;

  @include media-breakpoint-up(md) {
    @include template(link, header, content);
    display: flex;
    align-items: center;
    padding: em(80) 0;

    .container {
      display: grid;
      grid-template-rows: auto auto;
      grid-template-columns: 1fr auto 1fr;
      grid-template-areas:
        "link header ."
        "content content content";
    }
  }

  .btn-link {
    font-weight: 700;
    text-decoration: underline;
    padding: 0;

    @include media-breakpoint-down(sm) {
      display: block;
      margin-right: auto;
      margin-left: auto;
      text-align: center;
      margin-bottom: 2em;
    }

    @include media-breakpoint-up(lg) {
      @include ms-respond(font-size, 3);
      margin-bottom: 0;
    }
  }

  @include e(link) {

    @include media-breakpoint-up(md) {
      justify-self: flex-start;
    }
  }

  // Title
  @include e(title) {
    text-transform: uppercase;
    text-align: center;
    font-family: $font-stack-secondary;
    color: theme-color();
    font-size: 8.6vmin;
    line-height: 1;
    margin-bottom: em(16);

    @include media-breakpoint-up(lg) {
      @include ms-respond(font-size, 9);
      margin-bottom: em(8);
    }
  }

  @include e(content) {
    p {
      @include media-breakpoint-up(lg) {
        @include ms-respond(font-size, 3);
      }
    }
  }
}
