// Extends
// ---------

%box {
  // padding: em(16px) em(24px);
  @extend %base;
  height: auto;
  font-family: $font-stack-primary;
  border-width: $border-width;
  border-radius: $border-radius;
  appearance: none;

  @include hover-focus() {
    outline: none;
    box-shadow: none;
  }
}
