// Extends
// ---------

%box {
  @extend .body;
  height: auto;
  font-family: $font-stack-primary;
  border-width: $border-width;
  border-radius: $border-radius;
  appearance: none;
  line-height: 1.5;

  @include media-breakpoint-up(lg) {
    @include ms-respond(font-size, 1);
    line-height: 2;
  }

  @include hover-focus() {
    outline: none;
    box-shadow: none;
  }
}
