//
// Buttons
//



// Base
// ---------
%#{$btn-name} {
  @extend %box;
  $default-color: palette(states, accent);
  color: $white;
  text-align: center;
  background-color: $default-color;
  cursor: pointer;
  z-index: 1;

  @include hover-focus {
    @extend %transition;
    color: $white;
    //background-color: mix(black, $default-color, 8%);
    opacity: .9;
    text-decoration: none;
  }

}

// Mixin
// ---------
@mixin button($color, $themes) {
  @extend %#{$btn-name};
  $palette: palette(#{$themes}, #{$color});
  background-color: $palette;

  &[disabled] {
    //background-color: mix(white, $palette, 20%);
    cursor: not-allowed;
    pointer-events: none;
  }

  @include hover-focus {
    //background-color: mix(black, $palette, 8%);
  }
}

%#{$btn-name},
.#{$btn-name} {
  @extend %#{$btn-name};

  $color-grays: gray muted light;
  $color-themes: primary secondary tertiary;
  $color-states: danger warning info;

  @each $color in $color-themes {
    @include m(#{$color}) {
      @include button(#{$color}, 'themes');
    }
  }

  @each $color in $color-grays {
    @include m(#{$color}) {
      @include button(#{$color}, 'grays');
    }
  }

  @each $color in $color-states {
    @include m(#{$color}) {
      @include button(#{$color}, 'states');
    }
  }
}

