//
// cursor
//

.circle-cursor {
  position: fixed;
  left: 0;
  top: 0;
  pointer-events: none;

  @include m(outer) {
    width: 100vw;
    height: 100vh;
    z-index: 12000;
  }

  @include m(inner) {
    width: 5px;
    height: 5px;
    left: -2.5px;
    top: -2.5px;
    border-radius: 50%;
    z-index: 11000;
    background: $white;
  }
}

.square-cursor {
  --cursor-width: 22px;
  --color-link: #b31f24;
  position: fixed;
  left: 0;
  top: 0;
  pointer-events: none;
  opacity: 1;
  z-index: 5000;
  display: flex;
  align-items: center;
  justify-content: center;

  &__inner {
    opacity: 0;
    width: em($grid-gutter-width);
    height: em($grid-gutter-width);
    border: 2px solid var(--color-link);
    z-index: 5000;
    transform: rotate(-45deg);
    margin-left: em(-$grid-gutter-width / 2);
    margin-top: em(-$grid-gutter-width / 2);
  }
}


