//
// menu
//

.c-menu {
  $menu-size: em($grid-gutter-width * 1.5);
  $hamburger-line: em($grid-gutter-width / 8);
  $menu-animation-duration: $transition-duration;

  & {
    @extend %transition;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    z-index: $zindex-modal-backdrop;

    @include m(open) {
      pointer-events: auto;
    }
  }

  @include e(inner) {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: $zindex-modal;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

    overflow: hidden;
    transform: translate3d(0, -100vh, 0);
  }

  @include e(bg) {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: image('abi-bg-menu.jpg');
    background-size: cover;
    background-position: center;
    overflow: hidden;
    transform: scale(1);
  }

  @include e(container) {
    width: $container-width;
    height: calc(100vw / 3);
    border: $border-width dashed $white;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    transform: translate3d(0, 100vh, 0);

    @include media-breakpoint-up(xl) {
      width: calc(100vw / 4);
      height: 50vh;
    }
  }

  @include e(list) {
    counter-reset: menulink;
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    align-items: center;

    @include hover() {

      .c-menu__link {
        opacity: .33 !important;

        @include hover() {
          opacity: 1 !important;
        }
      }
    }
  }

  @include e(item) {
    counter-increment: menulink;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
  }

  @include e(title) {
    @extend %h5;
    @include ms-respond(margin-top, 3);
    @include ms-respond(margin-bottom, 3);
    text-align: center;
    color: palette(themes, primary);
    text-transform: uppercase;
  }

  @include e(link) {
    @extend %transition;
    @extend %h6;
    @include ms-respond(padding, -2);
    position: relative;
    display: inline-block;
    opacity: 0;

    &::before {
      content: '';
      position: absolute;
      z-index: -1;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 50%;
      background: palette(themes, primary);
      transform: scale3d(1, 0, 1);
      transform-origin: 50% 100%;
      transition: transform 0.3s;
      transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    }

    @include plain-hover-focus() {
      color: $white;
      text-decoration: none;
    }

    @include hover() {

      &::before {
        transform: scale3d(1, 1, 1);
        transform-origin: 50% 0;
      }
    }
  }

  @include e(wrap) {
    padding: $hamburger-line * 2;
    width: $menu-size;
    height: $menu-size;
    margin-left: $menu-size;
    display: flex;
    align-items: center;
    justify-content: center;
    border: $hamburger-line solid $white;
    transition: border-radius 600ms $easeOutExpo;

    @include hover-focus() {
      // border-color: palette(themes, primary);

      .c-menu__hamburger {
        &,
        &::before,
        &::after {
          //@extend %transition;
          //background-color: palette(themes, primary);
        }
      }
    }

    @include m(animated) {
      border-radius: 50%;

      span {
        background: rgba($white, 0);

        &::before {
          bottom: 0;
          transform: rotate(-45deg);
          transition: bottom $menu-animation-duration $easeOutExpo, transform $menu-animation-duration $menu-animation-duration $easeOutExpo;
        }

        &::after {
          top: 0;
          transform: rotate(45deg);
          transition: top $menu-animation-duration $easeOutExpo, transform $menu-animation-duration $menu-animation-duration $easeOutExpo;
        }
      }
    }
  }

  @include e(hamburger) {
    position: relative;
    display: inline-block;
    background-color: $white;
    transition: all 0ms $menu-animation-duration;

    &,
    &::before,
    &::after {
      width: 100%;
      height: $hamburger-line;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      background: $white;
    }

    &::before {
      bottom: $hamburger-line * 2;
      transition: bottom $menu-animation-duration $menu-animation-duration $easeOutExpo, transform $menu-animation-duration $easeOutExpo;
    }

    &::after {
      top: $hamburger-line * 2;
      transition: top $menu-animation-duration $menu-animation-duration $easeOutExpo, transform $menu-animation-duration $easeOutExpo;
    }
  }


}


