//
// social
//

.c-social {

  $social-size: em($grid-gutter-width);

  @include e(wrap) {

  }

  @include e(list) {
    @include make-row();
    display: flex;
    margin-right: -$social-size / 4;
    margin-left: -$social-size / 4;
  }

  @include e(item) {
    @include make-col-ready();
    flex: 0 0 auto;
    width: auto;
    max-width: none;
    padding-right: $social-size / 4;
    padding-left: $social-size / 4;
  }

  @include e(link) {
    display: block;
    width: $social-size;
    height: $social-size;

    @include hover-focus-active {
      @extend %transition;
      transform: scale(1.2);

      svg path {
        fill: palette(themes, primary);
      }
    }

    svg path {
      @extend %transition;

    }

    svg,
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}


