//
// timeline
//

.c-timeline {
  // Variables
  $dot-size: em($grid-gutter-width / 2);

  // Properties
  display: flex;
  align-items: center;

  button {
    display: block;
    padding: 0;
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    @include hover-focus-active() {
      outline: 0;
    }
  }

  @include e(wrap) {

  }

  @include e(list) {
    @include make-row();
    display: flex;
    margin-right: -$dot-size / 2;
    margin-left: -$dot-size / 2;
  }

  @include e(item) {
    @include make-col-ready();
    flex: 0 0 auto;
    width: auto;
    max-width: none;
    padding-right: $dot-size / 2;
    padding-left: $dot-size / 2;

    button {
      @extend %transition;
      width: $dot-size;
      min-width: $dot-size;
      height: $dot-size;
      min-height: $dot-size;
      border-radius: 50%;
      border: $border-width solid $white;
      background-color: transparent;
    }

    @include hover-focus {

      button {
        border-color: palette(themes, primary);
      }
    }

    @include m(active) {

      button {
        background-color: $white;
      }

      @include hover-focus {

        button {
          background-color: palette(themes, primary);
        }
      }
    }
  }

  @include e(control) {
    width: em($grid-gutter-width);
    height: em($grid-gutter-width);
    margin-right: em($grid-gutter-width / 2);
    border: 0;
    position: relative;

    $pause-width: $border-width * 3;

    &:before,
    &:after {
      @extend %transition;
      content: '';
      position: absolute;
      border: transparent;
      height: calc(100% - #{$pause-width});
      border-left: $pause-width solid $white;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &:before {
      //left: 0;
      left: calc(50% - #{$pause-width});
    }

    &:after {
      left: calc(50% + #{$pause-width});
      //right: 0;
    }

    @include m(paused) {

      &:after {

      }

      &:before {
        width: 0;
        height: 0;
        border-top: ($dot-size * .75) solid transparent;
        border-left: ($dot-size * 1.25) solid $white;
        border-bottom: ($dot-size * .75) solid transparent;
        left: calc(50%);
      }
      &:after {
        opacity: 0;
      }

      @include hover-focus {

        &:before,
        &:after {

        }
      }
    }


    @include hover {

      &:before,
      &:after {
        border-left-color: palette(themes, primary);
      }
    }
  }
}


