//
// timer
//

.c-timer {
  $timer-width: em($grid-gutter-width * 1.5);

  position: absolute;
  bottom: calc(#{-$timer-width * 2});
  width: $timer-width;
  height: $timer-width;
  transform: scale(2);
  transform-origin: center top;

  video {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  @include e(wrap) {
  }

  @include e(position) {

  }
}


