// Extends
// ---------

%transition {
  transition: $transition;
}

@each $base, $scale in $custom-scale {
  .#{$base},
  %#{$base} {
    @include ms-respond(font-size, $scale);
    @include ms-respond(margin-bottom, 0);
    //@include ms-respond(line-height, ($scale - 1));
    line-height: 1.2;
  }
}

%border-top {
  border-top: ($border-width * 5) solid $white;
}


// Custom scrollbar
%scrollbar {
  /* width */
  &::-webkit-scrollbar {
    width: $border-width * 6;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: transparent;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: palette(themes, secondary);
    cursor: grab;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: mix(black, palette(themes, secondary), 10%);
  }
}
