// Variables
// ---------

//
// Color system
//

$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #B0BEC5;
$gray-400: #727272;
$black: #000;

$grays: ();

$grays: map-merge(
                (
                        white: $white,
                        100: $gray-100,
                        200: $gray-200,
                        400: $gray-400,
                        black: $black,
                ),
                $grays
);

$primary: #b31f24;
$secondary: #ffea00;
$tertiary: #0072bc;
$background: #ffffff;

$theme-colors: ();

$theme-colors: map-merge(
                (
                        primary: $primary,
                        secondary: $secondary,
                        tertiary: $tertiary,
                        background: $background,
                ),
                $theme-colors
);

$success: #48dc00;
$info: #0084ff;
$warning: #ffb204;
$danger: #ff0000;
$accent: #ffea00;

$states: ();

$states: map-merge(
                (
                        success: $success,
                        info: $info,
                        warning: $warning,
                        danger: $danger,
                        accent: $accent
                ),
                $states
);

$palettes: (
        grays: $grays,
        themes: $theme-colors,
        states: $states,
);

$colors: map-merge(
                map-merge($grays, $theme-colors),
                $states
);

//
// Modular scale
//

$modularscale: (
        base: 20px,
        ratio: $augmented-fourth,
        480px: (
                base: 8px,
                ratio: $minor-third,
        ),
        //map-get($grid-breakpoints, "sm"): (
        //        base: 8px,
        //        ratio: $minor-third,
        //),
        //map-get($grid-breakpoints, "md"): (
        //        base: 16px,
        //),
        //map-get($grid-breakpoints, "lg"): (
        //        base: 12px,
        //),
  //map-get($grid-breakpoints, "xl"): (
  //        base: 20px,
  //        ratio: $augmented-fourth,
  //),
        1920px: (
                base: 20px,
                ratio: $augmented-fourth,
        ),
);

$custom-scale: ();

$custom-scale: map-merge(
                (
                        lead: 7,
                        h1: 6,
                        h2: 5,
                        h3: 4,
                        h4: 3,
                        h5: 2,
                        h6: 1,
                        body: 0,
                        small: -1,
                        tiny: -2,
                ),
                $custom-scale
);

//
// Variables
//

$asset-base-path: '..';
$body-font-size: ms(0);
$btn-name: 'btn';
$border-radius: em(0);
$border-width: em(2);
$frame-offset-y: em($grid-gutter-width * 1.75);
$frame-offset-x: em($grid-gutter-width * 2.25);
$container-width: 50vw;

// Transitions
$transition-duration: .4s;
$transition-delay: $transition-duration;
$transition-timing-function: $easeOutQuart;
$transition: all $transition-duration $transition-timing-function;

//
// Fonts
//
// Families and modular scale
@include font-face('Asap', 'Asap-Regular');
@include font-face('Asap', 'Asap-Semibold', 600);
$font-stack-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-stack-serif: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
$font-stack-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-stack-primary: 'Asap', $font-stack-sans;
$font-stack-secondary: 'Open Sans', $font-stack-sans;


