// Base
// ---------

body {
  @include ms-respond(font-size, 0);
  font-kerning: auto;
  font-family: $font-stack-primary;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h5 {

}
