// Typography
// ---------

body {
  @include ms-respond(font-size, 0);
  font-kerning: auto;
  font-family: $font-stack-primary;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@for $i from 1 through 6 {
  h#{$i} {
    @extend %h#{$i};
  }
}

p {
  font-size: inherit;
  @include ms-respond(margin-bottom, 0);

  + p {
    //@include ms-respond(margin-top, 0);
  }
}
