//
// agegate
//

.p-agegate {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-image: image('abi-bg-agegate.jpg');
  background-size: 100% 100%;
  background-position: center;


  @include e(container) {
    position: relative;
    width: 50vw;
    height: 50vh;
    display: flex;
    padding: em(32);
    flex-flow: column wrap;
    justify-content: flex-end;
  }

  @include e(title) {
    font-size: 8.4vw;
    line-height: 8.4vw;
    margin-left: em(-164, ms(6));
    //margin-bottom: em(72, ms(6));
    margin-bottom: 3vw;
  }

  @include e(logo) {
    $logo-size: 9.5vw;
    position: absolute;
    top: -$logo-size / 2;
    right: $logo-size / 1.5;
    width: $logo-size;
    height: $logo-size;
    background: transparent image('abi-img-logo.png') no-repeat center;
    background-size: contain;
  }

  @include e(subtitle) {
    position: relative;
    margin-bottom: 0;
    line-height: em(24);
    max-height: em(48);
    margin-left: em(72);
    margin-right: em(72);
    font-size: 1vw;

    &::before {
      content: '';
      position: absolute;
      width: em(40);
      height: em(40);
      left: em(-72);
      background-color: $white;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  //@include e(footer) {
  //  width: calc((100vw - #{$frame-offset-x * 2}) - #{em($grid-gutter-width * 6) * 2});
  //  text-align: center;
  //  line-height: 1.2;
  //  position: fixed;
  //  margin-bottom: 0;
  //  bottom: $frame-offset-y;
  //  left: 50%;
  //  transform: translateX(-50%);
  //
  //  @include media-breakpoint-up(lg) {
  //    width: calc((100vw - #{$frame-offset-x * 2}) - #{em($grid-gutter-width * 12) * 2});
  //    font-size: 1vw;
  //  }
  //}
}

.pan {
  $dot-size: 1em;
  $line-width: 2px;
  $dot-position-y: calc(100vh / 4 - #{$dot-size / 2});
  $dot-position-x: calc(100vw / 4 - #{$dot-size / 2});
  $line-position-y: calc(100vh / 4 - #{$line-width / 2});
  $line-position-x: calc(100vw / 4 - #{$line-width / 2});
  $shapes-color: palette(themes, primary);

  %line {
    background-color: $shapes-color;
  }

  %line-x {
    height: $line-width;
    top: 50%;
    transform: translateY(-50%);
  }

  %line-y {
    width: $line-width;
    left: 50%;
    transform: translateX(-50%);
  }

  @include e(dot) {
    position: fixed;
    width: 1em;
    height: 1em;
    background-color: $shapes-color;
    z-index: 1;

    &::before,
    &::after {
      @extend %line;
      content: '';
      position: absolute;
    }

    @include m(top_left) {
      top: $dot-position-y;
      left: $dot-position-x;

      &::before {
        @extend %line-x;
        width: calc(100vw / 3.1);
        left: $dot-size / 2;
      }

      &::after {
        @extend %line-y;
        height: calc(100vh / 2 - 18vw);
        top: $dot-size / 2;
      }
    }

    @include m(top_right) {
      top: $dot-position-y;
      right: $dot-position-x;

      &::before {
        @extend %line-x;
        width: calc(100vw / 24);
        right: $dot-size / 2;
      }

      &::after {
        @extend %line-y;
        height: calc(100vh / 2);
        top: $dot-size / 2;
      }
    }

    @include m(bottom_left) {
      bottom: $dot-position-y;
      left: $dot-position-x;

      &::before {
        @extend %line-x;
        width: calc(100vw / 2);
        left: $dot-size / 2;
      }

      &::after {
        @extend %line-y;
        height: em(72);
        bottom: $dot-size / 2;
      }
    }

    @include m(bottom_right) {
      bottom: $dot-position-y;
      right: $dot-position-x;

      span {
        @extend %line;
        position: absolute;
        height: $line-width;
        top: 50%;
        width: calc(100vw / 2);
        left: $dot-size / 2;
        transform: rotate(29deg);
        transform-origin: left;
      }
    }

    @include m(corner) {
      right: calc(100vw / 8 - #{$dot-size / 2});
      bottom: calc(100vh / 8 - #{$dot-size / 2});
    }
  }

}
