//
// QUIZ
//

.p-quiz {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-image: image('abi-bg-agegate.jpg');
  background-size: 100% 100%;
  background-position: center;


  @include e(grid) {
    @include make-row();
    display: flex;
    justify-content: center;
    align-items: center;
    margin: em(-$grid-gutter-width / 4);
  }

  @include e(item) {
    @include make-col-ready();
    flex: 0 0 auto;
    width: 50%;
    height: 50%;
    max-width: none;
    padding: em($grid-gutter-width / 4);
  }

  @include e(button) {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    height: 100%;
    background-color: transparent;
    color: $white;
    text-align: left;
    border: $border-width solid $white;
    @include ms-respond(padding, 2);
    //padding: em(48);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    @include hover-focus-active() {
      //background-color: #fff;
      outline: 0;
    }

    span {
      @extend %h5;
      line-height: em(48, ms(2));
      margin-bottom: em(8, ms(2));;
      display: block;
      color: palette(themes, primary);
      text-transform: uppercase;
      font-weight: 600;
    }

    p {
      @extend %h6;
      font-weight: 700;
      line-height: em(36, ms(1));
      margin-bottom: 0;
    }

    &:hover,
    &.is-active {

    }

    &.is-active {
      @extend %transition;
      border-color: palette(themes, primary);
    }
  }
}
