// Select root
// ---------

%select {
  @extend %control;
}

.choices[data-type*=select-one] {

  &:after {
    border-color: $white transparent transparent transparent;
    border-width: .5em;
    transform: translateY(-50%);
    margin-top: 0 !important;
  }

  &.is-open::after {
    border-color: transparent transparent $white transparent;
  }
}

.choices {

  &::after {

  }

  @include e(inner) {
    padding: 0 !important;
    border: 0;
    background-color: transparent;
  }

  @include e(list) {
    // display: block !important;
    padding: 0;
    background-color: transparent;
  }

  @include e(item) {
    @extend %select;
    color: $white;
    background-color: transparent;

    @include m(choice) {
      background-color: $white;
      color: palette(themes, primary);
    }

    @include m(selectable) {

      &::after {
        color: palette(themes, primary);
      }

      &.is-highlighted {

      }
    }
  }

  @include e(input) {
    @extend %select;
    text-transform: initial !important;
    color: palette(themes, primary) !important;
    background-color: transparent;

  }
}

select {
  @extend %select;

  option {
    @extend %body;
  }
}
