<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Title</title>
    <link rel="stylesheet" href="./../dist/css/main.css" />
  </head>
  <body>
    <div id="header">
      <div
        class="flex bg-white border-b border-gray-200 fixed top-0 inset-x-0 z-100 h-16 items-center"
      >
        <div class="w-full max-w-screen-xl relative mx-auto px-6">
          <h1>Header</h1>
        </div>
      </div>
    </div>
    <div class="w-full max-w-screen-xl mx-auto px-6">
      <div id="content-wrapper">
        <div id="content">
          <div id="app">
            <div class="pb-16 lg:pt-28 w-full pt-24">
              <h1 id="foo" class="text-6xl"></h1>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="./../dist/js/main.bundle.js"></script>
  </body>
</html>
