// Layout root
// ---------

$layout-header: ".l-header";
$layout-sidebar: ".l-sidebar";
$layout-footer: ".l-footer";
$layout-form: ".l-form";
$layout-container: ".l-container";

//@import "l-header";
//@import "l-footer";
//@import "l-sidebar";
//@import "l-forms";
@import "l-container";
@import "l-prizes";
