// Layout Prizes
// ---------

.l-prizes {
  @include e(list) {
    display: flex;
    max-width: 100vw;
  }

  @include e(header) {
    display: flex;
    align-items: center;
  }

  @include e(item) {
    //max-width: 200px;
    padding: $grid-gutter-width / 2;
  }
}
