// Extends
// ---------

@each $base, $properties in $custom-scale {
  %#{$base} {
    // Variables
    $scale: map-get($properties, scale);
    $line-height: map-get($properties, line-height);
    $font-weight: map-get($properties, font-weight);
    // Properties
    @include ms-respond(font-size, $scale);
    line-height: $line-height;
    font-weight: $font-weight;
    margin-top: 0;
    margin-bottom: $vertical-rhythm;
  }
}
