// -----------------------------------------------------------------------------
// Fonts
// -----------------------------------------------------------------------------

@include font-face("Material Icons", "MaterialIcons-Regular");
@include font-face("Caponi Display", "CaponiDisplay-Roman", 400);
@include font-face("Caponi Display", "CaponiDisplay-Medium", 500);
@include font-face("Caponi Display", "CaponiDisplay-Bold", 700);
@include font-face("SS Nickson Six", "SSNicksonSix");

$font-stack-primary: "Caponi Display", $font-family-sans-serif;
$font-stack-secondary: "SS Nickson Six", $font-family-serif;
