// -----------------------------------------------------------------------------
// Helpers
// -----------------------------------------------------------------------------

// Material icons
//

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 1em; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: "liga";
}

$weights: 400 500 600 700;

@each $weight in $weights {
  .font-weight-#{$weight} {
    font-weight: $weight;
  }
}

.font-family-primary {
  font-family: $font-stack-primary;
}

.font-family-secondary {
  font-family: $font-stack-secondary;
}

.font-family-tertiary {
  font-family: $font-stack-tertiary;
}

.tile {
  background-size: 100% 100%;
  text-align: center;
  padding: rem(16) 0;
  @include image("tile-sm-dark");

  @include media-breakpoint-up(md) {
    min-width: rem(256);
    padding: rem(22) 0;
  }

  @include e(sm) {
    min-width: auto;
  }
}

//
// Layout
//

.container {

  @include m(wider) {
    @include media-breakpoint-up(xxl) {
      max-width: 1640px;
    }
  }
}

.section {
  @include e(container) {
    margin-top: rem(24);
    margin-bottom: rem(24);

    @include media-breakpoint-up(md) {
      margin-top: rem(32);
      margin-bottom: rem(32);
    }

    @include m(lg) {
      margin-top: rem(32);
      margin-bottom: rem(32);

      @include media-breakpoint-up(md) {
        margin-top: rem(56);
        margin-bottom: rem(56);
      }
    }
  }
}

.e-divider {
  display: block;
  width: calc(100% - #{$grid-gutter-width * 2});
  margin-right: auto;
  margin-left: auto;
  max-width: rem(870);

  @include m(horizontal) {
    width: rem(5);
  }
}
