// -----------------------------------------------------------------------------
// Typography
// -----------------------------------------------------------------------------
@at-root html {
  @include ms-respond(font-size, 0);
}
@at-root body {
  font-size: inherit;
  font-kerning: auto;
  font-family: $font-stack-primary;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@for $i from 1 through 6 {
  %h#{$i},
  h#{$i} {
    @extend %h#{$i};
    font-family: $font-stack-secondary;
  }
}

@each $base, $properties in $custom-scale {
  .#{$base} {
    @extend %#{$base};
  }
}

.underline {
  position: relative;
  display: inline-block;
  margin-bottom: $grid-gutter-width * 1.5;

  &::after {
    content: "";
    position: absolute;
    bottom: -$grid-gutter-width / 2;
    left: 50%;
    transform: translateX(-50%);
    border-bottom: $border-width solid theme-color("secondary");
    width: calc(100% - #{$grid-gutter-width});
  }
}
