// Typography
// ---------

body {
  @include ms-respond(font-size, 0);
  font-kerning: auto;
  font-family: $font-stack-primary;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@each $base, $scale in $custom-scale {
  .#{$base},
  %#{$base} {
    @extend %margin-bottom;
    @include ms-respond(font-size, $scale);

    @each $base-line, $line-height in $line-heights {
      @if $base == $base-line {
        line-height: em($line-height, ms($scale));
      }
    }
  }
}

@for $i from 1 through 6 {
  h#{$i} {
    @extend %h#{$i};
  }
}


p {
  @extend %body;

  + p {
    @extend %margin-bottom;
  }
}
