// -----------------------------------------------------------------------------
// Typography
// -----------------------------------------------------------------------------
@at-root html {
  @include ms-respond(font-size, 0);
}

@at-root body {
  font-size: inherit;
  font-kerning: auto;
  font-family: $font-stack-primary;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@custom-selector :--heading h1, h2, h3;
@custom-selector :--subheading h4, h5, h6;

:--heading {
  font-family: $font-stack-primary;
}

@for $i from 1 through 6 {
  h#{$i} {
    @extend %h#{$i};
  }
}

@each $base, $properties in $custom-scale {
  .#{$base} {
    @extend %#{$base};
  }
}

p {
  @extend %body;

  + p {
    @include margin-bottom();
  }
}
